<!-- Heading -->
<mdb-card class="mt-lg-5">

    <!--Card content-->
    <mdb-card-body>

        <div class="row">
            <div class="col-xl-2 mb-r align-self-center text-center d-flex">
                <h4><strong>Clientes Rentables</strong></h4>
            </div>

            <div class="col-xl-2 mb-r">
                <mdb-card style="background-color:#05233c;" cascade="true" class="cascading-admin-card">
                    <div class="admin-up">
                        <div class="data text-white text-center">
                            <h4><strong>Prospectos</strong></h4>
                        </div>
                    </div>
                    <mdb-card-body>
                        <div class="text-white text-center">
                            <h4><strong>93%</strong></h4>
                        </div>
                    </mdb-card-body>
                </mdb-card>
            </div>
            <div class="col-xl-2 mb-r">
                <mdb-card style="background-color: #00a297;" cascade="true" class="cascading-admin-card">
                    <div class="admin-up">
                        <div class="data text-white text-center">
                            <h4><strong>Productos</strong></h4>
                        </div>
                    </div>
                    <mdb-card-body>
                        <div class="text-white text-center">
                            <h4><strong>93%</strong></h4>
                        </div>
                    </mdb-card-body>
                </mdb-card>
            </div>
            <div class="col-xl-6 mb-r">
                <mdb-card cascade="true" class="cascading-admin-card">
                    <div class="admin-up">
                        <div class="data text-center">
                            <h4><strong>Filtros</strong></h4>
                        </div>
                    </div>
                    <mdb-card-body>
                        <div class="row">
                            <div class="col-xl-4"> <select class="browser-default custom-select">
                                    <option selected>All</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select></div>
                            <div class="col-xl-4"> <select class="browser-default custom-select">
                                    <option selected>All</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select> </div>
                            <div class="col-xl-4"> <select class="browser-default custom-select">
                                    <option selected>All</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select></div>
                        </div>

                    </mdb-card-body>
                </mdb-card>
            </div>


        </div>
    </mdb-card-body>

</mdb-card>
<!-- Heading -->

<!--Grid row-->
<div class="row wow fadeIn mt-5">

    <!--Grid column-->
    <div class="col-md-6 mb-6">

        <!--Card-->
        <mdb-card>

            <!--Card content-->
            <mdb-card-body>

                <div style="display: block">
                    <canvas mdbChart [chartType]="chart1Type" [datasets]="chartDatasets" [labels]="chartLabels"
                        [colors]="chartColors" [options]="chartOptions" [legend]="true">
                    </canvas>
                </div>
            </mdb-card-body>

        </mdb-card>
        <!--/.Card-->

    </div>
    <!--Grid column-->

    <div class="col-md-6 mb-6">

        <!--Card-->
        <mdb-card>

            <!--Card content-->
            <mdb-card-body>

                <div style="display: block">
                    <canvas mdbChart [chartType]="chart1Type" [datasets]="chartDatasets" [labels]="chartLabels"
                        [colors]="chartColors" [options]="chartOptions" [legend]="true">
                    </canvas>
                </div>
            </mdb-card-body>

        </mdb-card>
        <!--/.Card-->

    </div>

</div>
<!--Grid row-->

<!--Grid row-->
<div style="padding-top: 10px;" class="row wow fadeIn">

    <!--Grid column-->
    <div class="col-lg-6 col-md-12 mb-4">

        <!--Card-->
        <mdb-card>

            <!-- Card header -->
            <div class="card-header">Line chart</div>

            <!--Card content-->
            <mdb-card-body>

                <div style="display: block">
                    <canvas mdbChart [chartType]="chart3Type" [datasets]="chartDatasets" [labels]="chartLabels"
                        [colors]="chartColors" [options]="chartOptions" [legend]="true">
                    </canvas>
                </div>
            </mdb-card-body>

        </mdb-card>
        <!--/.Card-->

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-6 col-md-6 mb-4">

        <!--Card-->
        <mdb-card>

            <!-- Card header -->
            <div class="card-header">Radar Chart</div>

            <!--Card content-->
            <mdb-card-body>

                <div style="display: block">
                    <canvas mdbChart [chartType]="chart4Type" [datasets]="chartDatasets" [labels]="chartLabels"
                        [colors]="chartColors" [options]="chartOptions" [legend]="true">
                    </canvas>
                </div>
            </mdb-card-body>

        </mdb-card>
        <!--/.Card-->

    </div>
    <!--Grid column-->

    

</div>
<!--Grid row-->


