.gradient-custom {
    /* fallback for old browsers */
    background: #30cfd0;
  
    /* Chrome 10-25, Safari 5.1-6  #072146 7, 33, 70  #2bcccd  43, 204, 205 */
    background: -webkit-linear-gradient(45deg, rgba(7, 33, 70, 0.1), rgba(43,204, 205, 0.1));
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(45deg, rgba(7, 33, 70, 0.9), rgba(43,204, 205, 0.9))
  }

  .text-header{
      color: white;
  }

  .testimonial-card .card-up {
    height: 120px;
    overflow: hidden;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

.rounded-circle {
    border-radius: 50% !important;
}

.testimonial-card .avatar {
    /*width: 120px;*/
    margin-top: -60px;
    overflow: hidden;
    border: 5px solid #fff;
    border-radius: 50%;
}

.white, .picker__list-item, .picker__box .picker__header .picker__select--month.browser-default, .picker__box .picker__header .picker__select--year.browser-default {
    background-color: #fff !important;
}

.ml-auto, .mx-auto {
    margin-left: auto !important;
}

.mr-auto, .mx-auto {
    margin-right: auto !important;
}

*, ::before, ::after {
    box-sizing: border-box;
}

.card {
    font-weight: 400;
}

.card {
    word-wrap: break-word;
}

.mb-4, .my-4 {
    margin-bottom: 1.5rem !important;
}

.list-item{
    position: relative;
    display: block;
    padding: .75rem 2.25rem;
    border: 1px solid rgba(0,0,0,0.125);
    /*border-top: 1px solid rgba(0,0,0,0.125);    */
}

.active-scroll{
    height: 15rem;
    overflow-y: scroll;
}