<!--Grid row-->
<div class="row">

    <!--Grid column-->
    <div class="col-md-4">
  
        <mdb-card>
            <mdb-card-header class="gradient-custom text-header">Clientes</mdb-card-header>
            <mdb-card-body>
                <form class="form-inline md-form mr-auto mb-4">
                    <input id="form-bg-sm" class="form-control form-control-sm" type="text" mdbInput>
                    <label for="form-bg-sm">Número de cliente</label>
                    <button mdbBtn size="sm" gradient="aqua" rounded="true" class="my-0 waves-light" mdbWavesEffect type="submit"><mdb-icon fas icon="search"></mdb-icon></button>
                  </form>
              <mdb-card-title>
                <h5>Top 10</h5>
              </mdb-card-title>

              <mdb-card-text>Lista de los mejores 10 clientes con tendencia a maximizar la rentabilidad</mdb-card-text>
              <div class="list-group active-scroll">
                <a href="#" class="list-group-item list-group-item-action waves-light" mdbWavesEffect>Cliente 1</a>
                <a href="#" class="list-group-item list-group-item-action waves-light" mdbWavesEffect>Cliente 2</a>
                <a href="#" class="list-group-item list-group-item-action waves-light" mdbWavesEffect>Cliente 3</a>
                <a href="#" class="list-group-item list-group-item-action waves-light" mdbWavesEffect>Cliente 4</a>
                <a href="#" class="list-group-item list-group-item-action disabled waves-light" mdbWavesEffect>Cliente 5</a>
                <a href="#" class="list-group-item list-group-item-action waves-light" mdbWavesEffect>Cliente 1</a>
                <a href="#" class="list-group-item list-group-item-action waves-light" mdbWavesEffect>Cliente 2</a>
                <a href="#" class="list-group-item list-group-item-action waves-light" mdbWavesEffect>Cliente 3</a>
                <a href="#" class="list-group-item list-group-item-action waves-light" mdbWavesEffect>Cliente 4</a>
                <a href="#" class="list-group-item list-group-item-action disabled waves-light" mdbWavesEffect>Cliente 5</a>
              </div>
              <!--a href="" mdbBtn color="primary">Go somewhere!</a-->
            </mdb-card-body>
          </mdb-card>

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-8">
  
        <mdb-card>
            <mdb-card-header class="gradient-custom text-header">Rentabilidad actual</mdb-card-header>
            <mdb-card-body>
              <mdb-card-title>
                <h5>Periodo Agosto 2021</h5>
              </mdb-card-title>
              <mdb-card-text>Grafica que muestra la rentabilidad del ultimo periodo en funcion de la cantidad de clientes.</mdb-card-text>
              <!--a href="" mdbBtn color="primary">Go somewhere!</a-->
              <div style="display: block">
                <canvas mdbChart [chartType]="chart1Type" [datasets]="chartDatasets" [labels]="chartLabels"
                    [colors]="chartColors" [options]="chartOptions" [legend]="true">
                </canvas>
            </div>
            </mdb-card-body>
          </mdb-card>

    </div>
    <!--Grid column-->
  
  </div>
  <!--Grid row-->